[MESSAGES CONTROL]

disable=
    too-many-instance-attributes,
    too-few-public-methods,
    too-many-arguments,
    too-many-locals,
    too-many-branches,
    too-many-statements,
    too-many-lines,
    too-many-nested-blocks,
    too-many-public-methods,
    import-error,
    redefined-builtin,
    no-member,